:root {
  font-family: var(--font-sans);
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
