@import "tailwindcss";
@theme {
  /* Color palette */
  --color-gray-900: #1a1a1a;
  --color-gray-700: #404040;
  --color-gray-500: #8c8c8c;
  --color-gray-300: #d9d9d9;
  --color-gray-100: #f5f5f5;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: "Space Mono", monospace;

  --border-radius: 0.5rem;
  --container-padding: 1.5rem;

  /* Breakpoints */
  --breakpoint-sm: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1440px;

  /* Typography Sizes */
  --text-xs: 16px;
  --text-xs--line-height: 1.4rem;
  --text-sm: 18px;
  --text-sm--line-height: 1.5rem;
  --text-base: 18px;
  --text-base--line-height: 1.6rem;
  --text-lg: 21px;
  --text-lg--line-height: 1.8rem;
  --text-xl: 24px;
  --text-xl--line-height: 2rem;
  --text-2xl: 28px;
  --text-2xl--line-height: 2.25rem;
  --text-3xl: 34px;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 42px;
  --text-4xl--line-height: 3rem;
  --text-5xl: 56px;
  --text-5xl--line-height: 4rem;
  --text-6xl: 72px;
  --text-6xl--line-height: 5rem;
}
